/* page{
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #7400ff;
 } */
 
 .video-list {
        width: 100%;
        height: 100%;
         display: flex;
          flex-direction: column;
    }
    .swiper-box{    
        height:100%;    
        width: 100%;
    }
    .swiper{    
        height:100%;    
        width: 100%;
    }
    .swiper-item {
        width: 100%;
        height: 100%;
        
    }
   .video-player {
        flex:1;
        background-color: red;
    }
    .video {
        width: 100%;
        height: 100%;
        z-index: 19;
    } 